{namespace app.ui.common.templates autoescape="contextual"}

/**
 * The main app
 */
{template .app}
<div id="container">
  <div id="loadingIndicator" style="display: none"></div>
  <div id="main"></div>
</div>
{/template}
